@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
  font-family: 'Comfortaa';
  list-style: none;
}
.f-roboto {
  font-family: 'Roboto';
}
.f-xs {
  font-size: 13px;
}
.f-sm {
  font-size: 16px;
}
.f-md {
  font-size: 20px;
}
.f-lg {
  font-size: 28px;
}
.f-xl {
  font-size: 36px;
}
.c-white {
  color: #fff;
}
.cursor {
  cursor: pointer;
}
